<div class="grid-container">  
  <div class="dashboard-header">
    <h1 class="mat-h1"><span></span>Library Management</h1>
    <div class="sub-head">Control Panel</div>
    <span><button mat-mini-fab color="primary" class="actions">+</button></span>
    <span><button mat-mini-fab color="primary" class="actions">-</button></span>
    <div class="search-box">
        <mat-form-field appearance="legacy">
            <!-- <mat-label>Serah here..</mat-label> -->
            <input matInput placeholder="Serah here..">
            <!-- <mat-icon matSuffix>search</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <span><button style="margin: 0 10px; border: 1px solid #aaa;" mat-flat-button>Search</button></span>
    </div>
  </div>
  
  <mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h1>{{card.total}}</h1>
            <span class="logo"><mat-icon>{{card.logo}}</mat-icon></span>
            <h6>{{card.title}}</h6>
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="details" [style.background]="cards.back">Show details</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="25px">
    <mat-grid-tile>
      <div style="width: 100%">
        <canvas id="ctx1"></canvas>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="width: 100%">
        <canvas id="ctx2"></canvas>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
    
</div>
