<div class="container">
    <div class="page">
        <div class="page-title">
                <div class="row">
                        <div class="col-lg-12 text-center">
                            <span class="err-number">4</span>
                            <span class="err-number">0</span>
                            <span class="err-number">4</span>
                        </div>
                    </div>
        </div>
        
        <div class="err">
                <div class="row">
                        <div class="col-lg-12 text-center">
                            <h1 class="h1">error!</h1>
                        </div>
                </div>
        </div>
        <div class="err-title">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="h1">page not found!</h1>
                </div>
            </div>
        </div>
        <div class="err-desc">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h6 class="h6">for some reason the you requested could not be found</h6>
                </div>
            </div>
        </div>
        <div class="page-link bg-white border-0 text-muted">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p><span><a routerLink="/home/login">go back</a></span> / <span><a href="/home">go home</a></span></p>
                </div>
            </div>
        </div>
    </div>
</div>